.addEstate h1 {
  margin: 1rem 0;
  font-size: 35px;
}

.inputGroup label {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 500;
}

.inputGroup:first-child {
  grid-area: propertyInputGroup;
}

.inputGroup:nth-child(2) {
  grid-area: typeInputGroup;
}

.inputGroup:nth-child(3) {
  grid-area: bedroomsInputGroup;
}

.inputGroup:nth-child(4) {
  grid-area: bathroomsInputGroup;
}

.inputGroup:nth-child(5) {
  grid-area: sizeInputGroup;
}

.inputGroup:nth-child(6) {
  grid-area: priceInputGroup;
}

.inputGroup:nth-child(7) {
  grid-area: conditionInputGroup;
}

.inputGroup input {
  width: 100%;
  padding: 0.6rem 0.4rem;
  font-weight: 500;
  border: 1px solid #b1b0b0;
  outline: none;
}

.inputGroup input:focus {
  border: 1px solid #000000;
}

.inputGroup select {
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  padding: 0.7rem 0.4rem;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 7px;
  border: 1px solid #b1b0b0;
  border-radius: 2px;
  outline: none;
}

.inputGroup select:focus {
  border: 1px solid #000000;
}

.inputGroup select:hover {
  background-color: #eceaea;
}

.inputGroup option {
  font-weight: 500;
  background-color: #ffffff;

  height: 1rem;
  margin: 2rem;
  line-height: 1.5;
  padding: 1.5rem;
}

.inputGroups {
  display: grid;
  grid-template-areas:
    'propertyInputGroup propertyInputGroup propertyInputGroup propertyInputGroup propertyInputGroup propertyInputGroup'
    'typeInputGroup typeInputGroup typeInputGroup bedroomsInputGroup bedroomsInputGroup bedroomsInputGroup'
    'bathroomsInputGroup bathroomsInputGroup bathroomsInputGroup sizeInputGroup sizeInputGroup sizeInputGroup'
    'priceInputGroup priceInputGroup priceInputGroup priceInputGroup priceInputGroup priceInputGroup'
    'conditionInputGroup conditionInputGroup conditionInputGroup conditionInputGroup conditionInputGroup conditionInputGroup';

  grid-gap: 20px;
}

.addEstate input[type='submit'] {
  display: block;
  margin: 1.5rem auto;
  padding: 0.7rem 2rem;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}

.addEstate input[type='submit']:hover {
  background-color: #d1cece;
}
