.card {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgb(233, 229, 229);
  height: 150px;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.date {
  font-size: 16px;
  font-weight: 500;
}

.image {
  width: 25%;
}

.center {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center > div {
  width: 40%;
}

.center hr {
  width: 1px;
  background-color: black;
  height: 70%;
  margin-right: 2rem;
}

.button {
  background-color: #ff0000;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
}

.badges {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-around;
  width: 70%;
  margin: 0.3rem 0;
}

.badge {
  width: 120px;
  height: 25px;
  background-color: #0274ff;
  color: #ffffff;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  margin: 0.4rem 0;
}

.badge:nth-child(3) {
  background-color: red;
}

.price {
  background-color: #bad3f8;
  margin-top: 0.6rem;
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-size: 14px;
}

.condition {
  margin: 0 auto;
  width: 10%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .center > div h3 {
    font-size: 18px;
  }

  .date {
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .button {
    padding: 1rem 1rem;
  }

  .date {
    font-size: 12px;
    margin-bottom: 0.1rem;
  }

  .price {
    width: 120px;
  }

  .center > div {
    width: 50%;
  }
  .center > div h3 {
    font-size: 16px;
  }
  .center hr {
    margin-right: 0rem;
  }

  .badge {
    width: 90px;
  }

  .badges {
    align-items: center;
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    height: 100%;
    padding: 1.5rem 0;
  }

  .image {
    min-width: 100%;
    display: flex;
    justify-content: center;
  }

  .badges {
    flex-direction: row;
    width: 100%;
  }

  .center {
    width: 90%;
    margin-top: 1rem;
    flex-direction: column;
  }

  .center h3 {
    font-size: 24px;
  }

  .center .leftCenter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .center .badges {
    width: 100%;
    margin: 0.4rem 0 0.8rem 0;
  }

  .center .badge {
    width: 90px;
  }

  .center .badges .bedrooms {
    order: 1;
  }

  .center .badges .bathrooms {
    order: 3;
  }

  .center .badges .size {
    order: 2;
  }

  .button {
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    font-size: 14px;
    width: 90%;
    text-align: center;
    background-color: #0467e0;
  }

  .center hr {
    display: none;
  }

  .price {
    height: 40px;
    width: 140px;
    font-size: 16px;
  }

  .date {
    font-size: 14px;
  }
}
