.estate h1 {
  margin: 0.3rem 0 1.8rem 0;
}

.estate .date {
  font-weight: 500;
}

.estate .bottom {
  margin: 1rem 0;
}

.estate .bottomFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.estate .bottomFlexTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.estate .bottomFlex p {
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: 700;
  margin: 0 1rem 0 0;
  background-color: #faf6f6;
}

.estate .bottomFlex div {
  display: flex;
  margin-top: 0.4rem;
}

.estate .price {
  background-color: #ffffff;
  box-shadow: 1px 1px 6px rgb(219, 218, 218);
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 21px;
}

.estate .address {
  margin: 2rem 0;
  font-weight: 500;
}

.estate .address span {
  font-weight: 700;
}

.estate .map {
  margin-bottom: 2rem;
}

.estate .back {
  color: #18314f;
  font-weight: 500;
}

.estate .phoneNumber {
  font-weight: 600;
}

@media (min-width: 600px) and (max-width: 768px) {
  .estate .address {
    margin: 0.8rem 0;
  }

  .estate .bottomFlexTwo {
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
  }
}

@media (max-width: 600px) {
  .estate .bottomFlex {
    flex-direction: column;
    padding: 1rem;
  }

  .estate .bottomFlex div {
    margin-bottom: 0.8rem;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: #faf6f6;
    align-items: center;
  }

  .estate .bottomFlex div p {
    margin: 0.5rem 0;
  }

  .estate .bottomFlexTwo {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .estate .address {
    margin: 1.5rem 0;
  }
}
