.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh;
  padding-top: 3rem;
}

.footer p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.footer a {
  color: #160957;
  font-weight: 500;
  text-decoration: underline;
  padding-bottom: 1rem;
}
