.navbar {
  background-color: #18314f;
  max-height: 10vh;
  min-height: 10vh;
  width: 100%;
  /* padding: 0 2rem; */
  box-shadow: 1px 0px 8px #36f1cd;
}

.navbar .logo {
  color: #ffffff;
  letter-spacing: 2px;
  width: 60%;
  font-size: 24px;
  font-weight: 700;
}

.navbar .logo:hover {
  color: #eceaea;
}

.navbar .navFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 3rem;
}

.navbar .navLinks {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.navbar .navLinksItems {
  color: #ffffff;
}
