.listings {
  width: 100%;
}

.listings h1 {
  padding-bottom: 1rem;
}

.listings h2 {
  text-align: center;
}

.listings a {
  color: #ffffff;
}

.listings .button {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  /* width: 180px; */
  text-align: center;
  padding: 0.6rem 0 0.6rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 1s ease;
  margin-top: 3rem;
}

.listings .button:hover {
  background-color: #eceaea;
}
