.children {
  max-width: 70%;
  margin: 80px auto;
}

.background {
  background: radial-gradient(#3773bd, #0d0630);
  height: 330px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background h1 {
  font-size: 50px;
}

.background p {
  font-weight: 500;
  padding-top: 0.8rem;
}

@media (min-width: 920px) and (max-width: 1200px) {
  .children {
    max-width: 80%;
  }
}
